@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

:root {
  --color-white: #fff;
  --color-black: #000;

  --color-gray100: #e1e1e6;
  --color-gray300: #c4c4cc;
  --color-gray400: #8d8d99;
  --color-gray600: #323238;
  --color-gray700: #29292e;
  --color-gray800: #202024;
  --color-gray900: #121214;

  --color-green: #00875f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-gray900);
  color: var(--color-gray300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
